@media screen and (min-width: 500px) {
  #logo {
    min-height: 20px;
  }
}
.container {
  position: relative;
  width: 1160px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
  top: 80px;
}

.container .box {
  position: relative;
  width: 275px;
  height: 275px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
}

.container:hover .box {
  transform: rotateY(25deg);
}

.container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .box .imgBx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #f00, #000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}

.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}

.container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}

.container .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}

.container .box:hover ~ .box {
  transform: rotateY(-25deg);
}

.container .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.container .box:hover .imgBx:before {
  opacity: 1;
}

.container .box:hover .content h2 {
  transform: translateY(0px);
}

.container .box:hover .content p {
  transform: translateY(0px);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(../fonts/Montserrat-Black.ttf);
}
body {
  padding: 0 auto;
  margin: 0 auto;
  min-height: 360vh;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: Montserrat-Regular;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 1000;
}
header .logo {
  position: relative;
  font-weight: 700;
  text-decoration: none;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
}
header ul li a button {
  background: #000;
  border: none;
  color: #ffffff;
  border-radius: 3px;
  text-align: left;
  padding: 2px 25px;
}

header.sticky {
  background: rgba(255, 255, 255, 0.6);
  padding: 20px 80px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
header.sticky .logo {
  position: relative;
  font-weight: 700;
  text-decoration: none;
}
header.sticky ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header.sticky ul li {
  position: relative;
  list-style: none;
}
header.sticky ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #d5271c;
}

#tracker {
  position: absolute;
  z-index: 199;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #d5271c; /* Semi-transparent red */
  border-radius: 50%;
  pointer-events: none; /* This ensures that the div does not interfere with mouse events */
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Smooth transition effect with cubic-bezier easing */
  transform-origin: center; /* Transform origin set to the center of the div */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Add shadow for depth effect */
}

#soc {
  width: 8%;
  left: 5px;
  animation-duration: 1s;
  transition-duration: 800ms;
  top: 43vh;
  position: fixed;
}
#soc ol {
  text-align: center;
}
#soc ol li {
  list-style: none;
  align-items: center;
  transform: translateX(-24px);
}
#soc ol li a {
  text-decoration: none;
  line-height: 45px;
}
#soc ol li a header ul li a i, #soc ol li a i {
  font-size: 22px;
  color: #25e6b5;
  transition: 0.7s;
}
#soc ol li a header ul li a i:hover, #soc ol li a i:hover {
  font-size: 24px;
  color: #006b50;
}

.a {
  text-align: left;
  align-items: flex-start;
}

#hero {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  background: url("../img/bg-svg.png");
  background-position: 0 0;
  background-size: contain;
  scroll-behavior: smooth;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.a {
  color: #d5271c;
  font-size: 70px;
  line-height: 65px;
  font-family: Montserrat-Black;
}

#About {
  background: rgba(0, 0, 0, 0.4745098039);
  min-height: 100vh;
}

#Services {
  background: #efffa8;
  min-height: 100vh;
}

#Portfolio {
  background: #000;
  min-height: 100vh;
}

#Contact {
  background: #efffa8;
  min-height: 100vh;
}

#footer {
  background: url("../img/Asset 1.svg") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 480px;
}/*# sourceMappingURL=style.css.map */