
// Scss Import

@import '_variables', '_media-queries','_portfolio';


// Fonts 
@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Black;
    src: url(../fonts/Montserrat-Black.ttf);
}
// Main CSS
body{
    padding:0 auto;
    margin: 0 auto;
    // background: #000;
    min-height: 360vh;
    user-select: none;
    // cursor: comparable($number1: 24, $number2: 29);
    font-family: Montserrat-Regular;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .6s;
    padding: 40px 100px;
    z-index: 1000;
    .logo{
        position: relative;
        font-weight: 700;
        text-decoration: none;
    }
    ul{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        li{
            position: relative;
            list-style: none;

            a{
                position: relative;
                margin: 0 15px;
                text-decoration: none;
                button{
                    background: #000;
                    border: none;
                    color: #ffffff;
                    border-radius: 3px;
                    text-align: left;
                    padding: 2px 25px;
                }
            }
        }
    }

}

header.sticky{
    background: rgba($color: #ffffff, $alpha: 0.6);
    padding: 20px 80px;
    backdrop-filter: blur(5px);
    .logo{
        position: relative;
        font-weight: 700;
        text-decoration: none;
        // filter: blur(1px);
    }
    ul{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        li{
            position: relative;
            list-style: none;

            a{
                position: relative;
                margin: 0 15px;
                text-decoration: none;
                color: $title;
                
            }
        }
    }
}

#tracker {
    position: absolute;
    z-index: 199;
    top: 0;
    left: 0;
    width: 20px; 
    height: 20px; 
    background-color: $title; /* Semi-transparent red */
    border-radius: 50%;
    pointer-events: none; /* This ensures that the div does not interfere with mouse events */
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Smooth transition effect with cubic-bezier easing */
    transform-origin: center; /* Transform origin set to the center of the div */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Add shadow for depth effect */
  }
#soc{
    // background: #000;
    width: 8%;
    left: 5px;
    animation-duration: 1s;
    transition-duration: 800ms;
    top: 43vh;
    position: fixed;
    ol{
        text-align: center;
        li{
            list-style: none;
            align-items: center;
                transform: translateX(-24px);
            a{
                text-decoration: none;
                line-height: 45px;
                header ul li a i,i{
                    font-size: 22px;
                    color: $cyan;
                    transition: .7s;
                    &:hover{
                        font-size: 24px;
                        color: $dcyan;
                    }
                }
            }
        }
    }
}

.a{
    text-align: left;
    align-items: flex-start;
}

#hero{
    // background: #69f07f57;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    background: url("../img/bg-svg.png");
    background-position: 0 0;
    background-size: contain;
    scroll-behavior: smooth;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.a{
    color: $title;
    font-size: 70px;
    // font-weight: ;
    line-height: 65px;
    font-family: Montserrat-Black;
}
#About{
    background: #00000079;
    min-height: 100vh;
}

#Services{
    background: #efffa8;
    min-height: 100vh;
}
#Portfolio{
    background: #000;
    min-height: 100vh;
}
#Contact{
    background: #efffa8;
    min-height: 100vh;
}
#footer{
    background: url("../img/Asset\ 1.svg") no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 480px;
}